
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}List{% endblock title %}

{% block content %}

<br>
<div class="row">
  <div class="col-md-4">

      {% for car in cars %}
          <div class="card my-card">
            <h5 class="card-header">car Info</h5>
            {% if car.car_img %}
              <img class="card-img-top" src="{{car.car_img.url}}">
            {% endif %}
              <div class="card-body">
              <h5 class="card-title"><p>{{car.make}}</p><p>{{car.model}}</p></h5>
              <p class="card-text">{{car.year}}</p>
                <div class="row text-center">
                  <div class="col-md-6">

                      <a href="{% url 'car-update' car.id %}" class="btn btn-outline-primary btn-block">Update</a>
                  </div>
                  <div class="col-md-6">
                      <a href="{% url 'car-delete' car.id %}" class="btn btn-outline-danger btn-block">Delete</a>
                </div>
              </div>
                  </div>
      {% endfor %}
</div>

{% endblock content %}